// Define variables for your color scheme

// For example:
$red: #931621;
$light-blue: #72A1E5;
$blue: #34435E;
$yellow: #FFC65A;
$orange: #D36135;
$beige: #E5D9B6;
$green: #5F8D4E;
$light-green: #A4BE7B;
$dark-green: #285430;
$gray: #000000;
$light-gray: #F4F4F4;
$mid-gray: #8B9EB7;
$dark-gray: #423E37;
$purple: #5D5179;
$white: #F8F0E3;
