// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "poppins", "Helvetica", "sans-serif";
$headers-font: "poppins", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin: 10px 0px;
  text-align: center;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  margin: 10px 0px;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin: 10px 0px;
  text-align: center;
}
