// Specific CSS for your home-page

#logo {
  animation: fade-out 500ms ease-out 1000ms forwards;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  position: absolute;
  width: 300px;
}

#logo_2 {
  animation: fade-in 500ms ease-out 1000ms forwards;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  position: absolute;
  width: 300px;
}

#logo_3 {
  animation: fade-in 500ms ease-out 1000ms forwards;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -57%);
  opacity: 0;
  position: absolute;
  width: 300px;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#scan-text {
  font-size: 26px;
  font-weight: bold;
  color: #333;

  top: 65%;
  left: 41.8%;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: 0;
  animation: cascadeText 0.8s ease-in 1.2s forwards;
}

@keyframes cascadeText {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
