// Specific CSS for your home-page

.landing-page-container {
  display: flex;
  flex-direction: column;
}

.landing-page-container > h2 {
  margin-top: 10px;
}

#logo {
  animation: fade-out 500ms ease-out 1000ms forwards;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  position: absolute;
  width: 300px;
}

#logo_2 {
  animation: fade-in 500ms ease-out 1000ms forwards;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  position: absolute;
  width: 300px;
  height: 300px;
}

#logo_3 {
  animation: fade-in 500ms ease-in 1000ms forwards;
  opacity: 0;
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 49%;
  left: 44.3%;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.toggle-bar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 10px;
  background-color: rgba($light-gray, 0.3);
  margin: 20px 10px;
  border-radius: 20px;
  padding-bottom: 10px;
}

.bar-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  color: $white;
}

.bar-item.active {
  border-bottom: 2px solid $white;
}

.tab-content.hidden {
  display: none;
}

#scan-text {
  font-size: 26px;
  font-weight: bold;
  color: #333;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: cascadeText 0.8s ease-in 1.2s forwards;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@keyframes cascadeText {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px;
  flex-wrap: wrap;
  img {
    height: 100px;
  }
}
