<%= turbo_frame_tag :food_lazy do %>
  <div class="skeleton-container">
    <div>
      <h1>Scanning Picture...</h1>
    </div>
    <div class="animate-pulse w-1/12 mt-6">
      <div class="p-2 w-full bg-gray-500 mb-2 rounded-md"></div>
      <div class="p-2 w-full bg-gray-500 mb-2 rounded-md"></div>
      <div class="p-2 w-full bg-gray-500 mb-2 rounded-md"></div>
    </div>
  </div>
<% end %>
