<div class="index-container">
  <h2>Favorites</h2>
  <%= render 'favorites_carousel', foods: current_user.fav_foods, favorites: current_user.favorites %>
  <h2>History</h2>
  <%= render 'food_carousel', foods: current_user.foods, favorites: current_user.favorites %>
</div>
