<div class="w-full">
  <%= turbo_frame_tag :food_lazy, src: foods_show_lazy_path(@food), loading: :lazy do %>
    <div data-controller="loading-simulator">
      <%= render 'shared/skeleton_loader' %>
    </div>
  <% end %>
</div>
