.green-background {
  background-color: rgba($green, 0.3);
}

.red-background {
  background-color: rgba($red, 0.5);
}
.yellow-background {
  background-color: rgba($yellow, 0.5);
}

.gray-background {
  background-color: rgba($gray, 0.3);
}
