.green-background {
  background-color: $green;
}

.red-background {
  background-color: $orange;
}
.yellow-background {
  background-color: $yellow;
}

.gray-background {
  background-color: $white;
}

.false-background {
  background-color: rgba($orange, 0.3);
  border: $orange 5px solid;
}
.true-background {
  background-color: rgba($green, 0.3);
  border: $green 5px solid;

}
.maybe-background {
  background-color: rgba($yellow, 0.3);
  border: $yellow 5px solid;

}
.unknown-background {
  background-color: rgba($dark-gray, 0.3);
  border: $dark-gray 5px solid;
}
