.green-background {
  background-color: $green;
}

.red-background {
  background-color: $orange;
}
.yellow-background {
  background-color: $yellow;
}

.gray-background {
  background-color: $white;
}
