.one-lined-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin: 5px 3vw 5px 3vw;
  width: 90%;
}

.seventy-width-input {
  width: 70%;
}

.image-form {
  background-image: url("/app/assets/images/logo.png");
  background-color: transparent;
  color: transparent;
  height: 500px;
  opacity: 0;
  margin-top: 20vh;
}
