.bar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // padding-top: 10px;
  background-color: $dark-gray;
  border-radius: 20px;
  // padding-bottom: 30px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 5px 5px 5px;
}

.bar-container h2 {
  color: $dark-gray;
  grid-column: span 2;
}

.ingredient-show-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  justify-items: center;
  margin-bottom: 10px;
}

.wide-bar-card {
  border-radius: 10px;
  width: 100%;
  min-height: 120px;
  padding: 5px;
  overflow: hidden;
  box-shadow: rgba($light-gray, 0.8) 1px 1px 2px;
  background-color: $white;
}

.toggle-grid {
  display: grid;
  grid-template-columns: 8fr 1fr;
  gap: 5px;
  margin-bottom:3px;
}

.text-wrap {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 0px 3px 5px;
  }

.toggler {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.extended-infos {
  overflow: hidden;
  border-top: #333 1px solid;
  padding: 10px 5px 5px 5px;
  margin-top: 5px;
}

.extended-infos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin-top: 10px;
}

.rotated-element {
  transition: transform 0.3s ease;
  transform: rotate(90deg);
  border-radius: 50%;
}

.big-centered-image {
  display: block;
  width: 90%;
  height: auto;
  border-radius: 30px 30px 0px 0px;
  box-shadow: rgba($light-gray, 0.8) 1px 1px 2px;
}

.green-border-image {
  border: $green 15px solid;
}

.red-border-image {
  border: $orange 15px solid;
}

.yellow-border-image {
  border: $yellow 15px solid;
}

#food-name-container {
  background-color: $dark-gray;
  color: $light-gray;
  padding: 10px;
  border-radius: 0px 0px 30px 30px;
}

.ingredient-preference-results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  padding: 3px;
  border-radius: 5px;
}
