.rotate {
  animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loading-screen-container {
  position: relative;
}

#loading-text {
  font-weight: bold;
  color: #333;
  transition: color 0.5s ease-in-out;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 24px;
}

@keyframes loadingTextAnimation {
  33% { content: "Scanning Data..."; }
  66% { content: "Extracting Data..."; }
  100% { content: "Loaded!!!"; }
}

#loading-text::after {
  content: "Loading...";
  animation: loadingTextAnimation 12s infinite;
}
