.show-result-container {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 95%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  background-color: $white;
}

.show-result-container > h1 {
  font-size: 1.6rem;
  color: $dark-gray;
}

#food-display-name {
  color: $white;
}

#show-good-result {
  background-color: $green;
}

#show-mid-result {
  background-color: $yellow;
}

#show-bad-result {
  background-color: $orange;
}

.column-shover {
  grid-column: span 2;
}

.column-shrinker {
  height: 30px;
}
